body{
    display: flex;
    flex-direction: column;
    background-color: #070612;}
.start{
    background-image: url(images/start_background.svg);
    display: flex;
    align-items: start;
    width: 100%;
    min-height: 1024px;}
        .start .container{
            min-height: 612px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;}
                header{
                    min-height: 110px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: clamp(0px, 6.25vw, 120px);
                    padding-top: 20px;
                    flex-wrap: wrap;}
                .Icon{
                    width: 97px;
                    height: 97px;}
                        header article{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            max-width: 390px;}
                        header ul{
                            display: flex;
                            flex-wrap: wrap;
                            gap: 50px;
                            list-style: none;}
.About{
    background-image: url(images/About_background.svg);
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    max-width: 97%;}
        .About_container{
            width: 100%;
            display: flex;
            justify-content: right;}
        .About nav{
            display: flex;
            flex-direction: column;
            align-items: start;
            max-width: 584px;
            gap: 66px;
            margin: 112px 0 112px 0px;
            margin: clamp(0px, 2.1vw, 40px);}
                        .About span{
                            color: #87E7AD;}
.Workers{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 120px;
    gap: 30px;}
        .Workers h3{
            color: #61CA88;
            margin: 10px 0 0 0;}
        .Workers article{
            display: flex;
            flex-direction: column;
            gap: 15px;}
                .Workers aside{
                    display: flex;
                    gap: 2.6vw;
                    margin: 0 0 10px 0;}
        .worker{
            border-radius: 10px;
            box-shadow: #333333 0px 0px 40px;
            width: 70vw;
            max-width: 600px;}
.Service{
    background-image: url(images/service_background.svg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 105px;
    padding: 128px 120px;
    padding-top:clamp(0px, 6.7vw, 128px);
    padding-bottom:clamp(0px, 6.7vw, 128px);
    padding-left: clamp(0px, 6.25vw, 120px);
    padding-right: clamp(0px, 6.25vw, 120px);
}
        .Service article{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 50px;
            max-width: 590px;}
        .Service .container{
            display: flex;
            justify-content: center;
            width: 100%;
            text-indent: 10px;}
                .Service aside {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: start;}
                        .Service .symbol{
                            width: 80px;
                            height: 80px;}
                        .Service aside section{
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            max-width: 350px;
                            padding: 0px 0px 40px 0px;}
.Randomize{
    display: flex;
    display: none;
    flex-direction: column;
    gap: 12px;
    padding: 100px 120px 60px 120px;}
        .Randomize article{
            display: flex;
            flex-wrap: wrap;
            gap: 18px;}
                .Randomize section{
                    display: flex;
                    flex-direction: column;
                    gap: 130px;}
                        .Randomize div{
                            display: flex;
                            flex-direction: column;
                            gap: 28px;
                            margin: 0 19px;}
.Contact{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: clamp(10px, 5%, 120px);}
        .Contact article{
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 80px;}
                .Contact article section{
                    display: flex;
                    flex-direction: column;
                    align-items: start;}
                .Contact nav{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 50px;}
                        .Contact .geo{
                            width: 100%;
                            height: 100%;}
